################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/RestSharpApiTestFramework/FileContentIndex/7ee8d46d-d319-43ca-baf8-009a54779e1e.vsidx
/.vs/RestSharpApiTestFramework/FileContentIndex/c05504b2-6122-4dec-995f-3502703be8b7.vsidx
/.vs/RestSharpApiTestFramework/FileContentIndex/3b58c8b0-c358-47c5-b677-570365d6faa3.vsidx
/.vs/RestSharpApiTestFramework/FileContentIndex/17b8ae88-84d6-4139-b5b8-a3fe6fd5c5b6.vsidx
/.vs/RestSharpApiTestFramework/CopilotIndices/17.14.719.50355
/.vs/RestSharpApiTestFramework/v17/.suo
/.vs/RestSharpApiTestFramework/v17/DocumentLayout.backup.json
/.vs/RestSharpApiTestFramework/v17/DocumentLayout.json
/.vs/RestSharpApiTestFramework/DesignTimeBuild/.dtbcache.v2
/.vs/RestSharpApiTestFramework/v17/.suo
/.vs/RestSharpApiTestFramework/v17/DocumentLayout.backup.json
/.vs/RestSharpApiTestFramework/v17/DocumentLayout.json
/RestSharpApiTestFramework.Core/bin/Debug/net6.0/RestSharpApiTestFramework.Core.deps.json
/RestSharpApiTestFramework.Core/bin/Debug/net6.0/RestSharpApiTestFramework.Core.dll
/RestSharpApiTestFramework.Core/bin/Debug/net6.0/RestSharpApiTestFramework.Core.pdb
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
*.dll
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/RestSharpApiTestFramework.Core.pdb
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/RestSharpApiTestFramework.Tests.deps.json
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/RestSharpApiTestFramework.Tests.pdb
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/RestSharpApiTestFramework.Tests.runtimeconfig.json
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestShar.D02DED19.Up2Date
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestSharpApiTestFramework.Tests.AssemblyInfo.cs
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestSharpApiTestFramework.Tests.AssemblyInfoInputs.cache
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestSharpApiTestFramework.Tests.csproj.AssemblyReference.cache
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestSharpApiTestFramework.Tests.csproj.BuildWithSkipAnalyzers
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestSharpApiTestFramework.Tests.csproj.CoreCompileInputs.cache
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestSharpApiTestFramework.Tests.csproj.FileListAbsolute.txt
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestSharpApiTestFramework.Tests.genruntimeconfig.cache
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestSharpApiTestFramework.Tests.pdb
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestSharpApiTestFramework.Tests.sourcelink.json
/.vs/RestSharpApiTestFramework/FileContentIndex/17b8ae88-84d6-4139-b5b8-a3fe6fd5c5b6.vsidx
/.vs/RestSharpApiTestFramework/FileContentIndex/3b58c8b0-c358-47c5-b677-570365d6faa3.vsidx
/.vs/RestSharpApiTestFramework/FileContentIndex/7ee8d46d-d319-43ca-baf8-009a54779e1e.vsidx
/.vs/RestSharpApiTestFramework/FileContentIndex/c05504b2-6122-4dec-995f-3502703be8b7.vsidx
/.vs/RestSharpApiTestFramework/v17/.suo
/.vs/RestSharpApiTestFramework/v17/DocumentLayout.backup.json
/.vs/RestSharpApiTestFramework/v17/DocumentLayout.json
/.vs/RestSharpApiTestFramework/DesignTimeBuild/.dtbcache.v2
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestSharpApiTestFramework.Tests.AssemblyInfoInputs.cache
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestSharpApiTestFramework.Tests.csproj.AssemblyReference.cache
/RestSharpApiTestFramework.Tests/obj/project.assets.json
/RestSharpApiTestFramework.Tests/obj/project.nuget.cache
/RestSharpApiTestFramework.Tests/obj/RestSharpApiTestFramework.Tests.csproj.nuget.dgspec.json
/RestSharpApiTestFramework.Tests/bin/Debug/net6.0/testhost.exe
/.vs/RestSharpApiTestFramework/v17/TestStore/0/000.testlog
/.vs/RestSharpApiTestFramework/v17/TestStore/0/002.testlog
/.vs/RestSharpApiTestFramework/v17/TestStore/0/000.testlog
/.vs/RestSharpApiTestFramework/CopilotIndices/17.14.719.50355/CodeChunks.db
/RestSharpApiTestFramework.Core/obj/Debug/net6.0/RestSharpApiTestFramework.Core.AssemblyInfo.cs
/RestSharpApiTestFramework.Core/obj/Debug/net6.0/RestSharpApiTestFramework.Core.AssemblyInfoInputs.cache
/RestSharpApiTestFramework.Core/obj/Debug/net6.0/RestSharpApiTestFramework.Core.csproj.CoreCompileInputs.cache
/RestSharpApiTestFramework.Core/obj/Debug/net6.0/RestSharpApiTestFramework.Core.pdb
/RestSharpApiTestFramework.Core/obj/Debug/net6.0/RestSharpApiTestFramework.Core.sourcelink.json
/RestSharpApiTestFramework.Tests/obj/Debug/net6.0/RestSharpApiTestFramework.Tests.AssemblyInfo.cs
